<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cd">
      <h2 data-cy="cdDetailsHeading"><span jhiTranslate="jhipsterMonolitApplicationApp.cd.detail.title">Cd</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cd.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMonolitApplicationApp.cd.name">Name</span></dt>
        <dd>
          <span>{{ cd.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMonolitApplicationApp.cd.performer">Performer</span></dt>
        <dd>
          <span>{{ cd.performer }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMonolitApplicationApp.cd.releaseYear">Release Year</span></dt>
        <dd>
          <span>{{ cd.releaseYear }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMonolitApplicationApp.cd.discCount">Disc Count</span></dt>
        <dd>
          <span>{{ cd.discCount }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMonolitApplicationApp.cd.medium">Medium</span></dt>
        <dd>
          <span>{{ cd.medium }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMonolitApplicationApp.cd.label">Label</span></dt>
        <dd>
          <span>{{ cd.label }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMonolitApplicationApp.cd.state">State</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterMonolitApplicationApp.State.' + cd.state }}">{{ cd.state }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterMonolitApplicationApp.cd.added">Added</span></dt>
        <dd>
          <span>{{ cd.added | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cd', cd.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
